{% load static %}
<!DOCTYPE html>
<html style="font-size:14">

  <head>
    <meta
      charset="utf-8"
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    />
    <!-- Custom colors for phone status bar -->
    <meta name="theme-color" content="#9c27b0">
    <meta name="apple-mobile-web-app-status-bar-style" content="#9c27b0">
    <!-- Favicon hell -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static '/base_app/favicon/apple-touch-icon-57x57.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static '/base_app/favicon/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static '/base_app/favicon/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static '/base_app/favicon/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static '/base_app/favicon/apple-touch-icon-60x60.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static '/base_app/favicon/apple-touch-icon-120x120.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static '/base_app/favicon/apple-touch-icon-76x76.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static '/base_app/favicon/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static '/base_app/favicon/favicon-196x196.png' %}" sizes="196x196" />
    <link rel="icon" type="image/png" href="{% static '/base_app/favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{% static '/base_app/favicon/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static '/base_app/favicon/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static '/base_app/favicon/favicon-128.png' %}" sizes="128x128" />
    <!-- End of favicon hell -->
    <title>REX-DRI</title>
  </head>

  <body>
    <div id="app" class="columns">
      <!-- React -->
    </div>
  </body>

  {% block content %}{% endblock %}

  <noscript>Cette application nécessite Javascript... Merci de l'activer ou d'utiliser un navigateur approprié.</noscript>
</html>
